.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#000000 0%, #004677 25%, #2acaea 75%, #000000 100%);
    -fx-text-fill: #ffffff;
}
.list-cell { -fx-text-fill: black; }
.list.solid {border-style: solid;}
.list-cell:odd { -fx-background-color: #bebebe;  }
.list-cell:even { -fx-background-color: #696969;  }
.list-cell:filled:hover {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}
.scene { -fx-background-color: #000000; }